
.p-carousel-items-container{
display: flex;
flex-direction: row;
width: "100%";
gap: "10%";
}

.transition-opacity {
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.translate-y-0 {
    transform: translateY(0);
}

.translate-y-10 {
    transform: translateY(10px);
}